@import '../mixins';
@import '../variables';

.adress{
    display: flex;
    width: 20.3125rem;
    a{
        font-family: $font-title;
        text-align: center;
        color: $color-wine;
        cursor: pointer;
        &:hover{
            color:$color-yellow
    }
    }
}