@import '../mixins';
@import '../variables';

.adress{
    display: flex;
    width: 20.3125rem;
    svg{
        
        font-size: 1.25rem;
        color: $color-wine;
        cursor: pointer;
        &:hover{
            color:$color-yellow
        }
    }
    a{
        font-family: $font-title;
        color: $color-wine;
        cursor: pointer;
        &:hover{
            color:$color-yellow
    }
    }
}