@import '../mixins';
@import '../variables';

.banner-contato {
    @include banner;
    background-image: url('../../img/maio-23-12.jpg');
    background-position: 20% 20%;
    background-size: cover;

}