@import '../mixins';
@import '../variables';

.banner-home{
       @include banner;
       background-image: url ('../../../public/banner-home.jpg');
       img{
        position: absolute;
        width: 20%;
       }

}