@import '../mixins';
@import '../variables';

.bbq-banner{
    @include banner;
    background-image: url('../../img/previa-14.jpg');
    background-position: 30% 30%;
    background-size: cover;
    height: 70vh;
    @media screen {
        @media(max-width:375px){
         background-position: 60% 30%;
        }}
    
}