@import '../mixins';
@import '../variables';

.bbq-conteiner {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 0.3125rem 1.25rem;
    padding: 0.3125rem 0.9375rem;
    .bbq-image{
        display: grid;
        grid-template-columns: repeat(4, 9rem);
        grid-template-rows: repeat(4, 8rem);
        grid-gap: 15px;
        .grid-img{
            width: 15.625rem;
            height: 15.625rem;
            object-fit: cover;
        }
        .grid-item-1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .grid-item-2{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .grid-item-3{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .grid-item-4{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    .bbq-texto {
        flex: 1;
        height: 31.25rem;
        width: 21.875rem;
        margin: 1rem;
        h1{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $font-title;
            color: $color-wine;
            align-items: center;
            font-size: 2.5rem;
        }
        p{
            margin-top: 2rem;
            color: $color-wine;
            font-family: $font-text;
            word-spacing: 0.1875rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}