@import '../mixins';
@import '../variables';

.imageslider{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button-right {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 2.5rem;
        color: $color-white;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        &:hover{
            color: $color-yellow;
        }
    }
    
    .button-left {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 2.5rem;
        color: $color-white;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        &:hover{
            color: $color-yellow;
            }
        }
        .slideshowDots{
             text-align: center;
              .slideshowDot {
                display: inline-block;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                cursor: pointer;
                margin: 15px 7px 0px;
                background-color: #c4c4c4;
                &:active,:hover {
                    background-color: $color-wine;
                }
              }}
        
  }
  
  