@import '../mixins';
@import '../variables';

.japa-conteiner{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 0.3125rem 1.25rem;
    padding: 0.3125rem 0.9375rem;
    .japa-text{
        flex: 1;
        height: 31.25rem;
        width: 21.875rem;
        margin: 1rem;
        h1{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $font-title;
            color: $color-wine;
            align-items: center;
            font-size: 2.5rem;
        }
        p{
            margin-top: 2rem;
            color: $color-wine;
            font-family: $font-text;
            word-spacing: 0.1875rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .japa-image{
        margin: 1rem;
        flex: 1;
        height: 31.25rem;
        width: 21.875rem;
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 0.5rem;
        }
    }
}