@import '../variables';
@import '../mixins';

figure{
    width: $hundredpxw;
    height: $hundredpxh;
    justify-content: flex-start;
    margin-left: 1.875rem;
    @media screen {
        @media(max-width:375px){
            width: $hundredpxw;
            height: $hundredpxh;
            margin-left: 0;
        }}
    img{
        width: $hundredpxw;
        height: $hundredpxh;
        cursor: pointer;
        @media screen {
            @media(max-width:375px){
                width: 21vw;
                height: 16vh;
                
            }}
    }
}