@import '../variables';
@import '../mixins';

.page-links{
    display: flex;
    width: 18.75rem;
    align-items: center;
    justify-content: center;
     a{
        padding: 5px;
        text-decoration: none;
        color: $color-wine;
        font-family: $font-title;
        cursor: pointer;
            &:hover{
                color: $color-yellow
            }
        }
}