@import '../mixins';
@import '../variables';

.working-time{
    display: flex;
    flex-direction: column;
    h1{
        font-family: $font-title;
        font-size: 1.2rem;
        color: $color-wine;
    }
    ul{
        list-style: none;
        li{
            text-align: center;
            color: $color-wine;
            font-family: $font-title;
            font-weight: 500;
            font-size: 0.8rem;
        }
    }
}