
@mixin small-conteiner{
    display: flex;
    width: 6.25rem;
    height: 6.25rem;
}

@mixin large-conteiner {
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 12.5rem;
}

@mixin social-media {
        @include small-conteiner;
        margin-right: 1.875rem;
        gap: .625rem;
        align-items: center;
            svg{
            font-size: 1.25rem;
            color: $color-wine;
            cursor: pointer;
            &:hover{
                color:$color-yellow
            }
        }
   }

@mixin page-links{
    display: flex;
    width: 18.75rem;
    align-items: center;
    justify-content: center;
     a{
        padding: 5px;
        text-decoration: none;
        color: $color-wine;
        font-family: $font-title;
        cursor: pointer;
            &:hover{
                color: $color-yellow
            }
        }
}

@mixin banner {
       align-items: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 70vh;
       width: 100%;
       background: url('../../public/banner-home.jpg') center center / cover no-repeat;
       background-size: cover;
       background-position: 30% 45%;
       position: relative;
       top: 0%;
}

