@font-face {
    font-family: 'Intro Blackcaps';
    src: url("./fonts/Intro-Black-Caps.ttf")format("truetype");
}
@font-face {
    font-family: 'Alumni Sans';
    src: url("./fonts/AlumniSans-VariableFont_wght.ttf")format("truetype");
}

$font-title: "Intro Blackcaps";
$font-text: "Alumni Sans";
$color-white: #ffffff;
$color-yellow: #F2A11B;
$color-wine: #aa332f;
$color-brown: #513326;
$color-footer: #F9D08D;

$tenpxh: 1.6vh;
$twentypxh: 3.2vh;
$thirtypxh: 4.8vh;
$fortypxh: 6.4vh;
$fiftypxh: 8vh;
$sixtypxh: 9.6vh;
$seventypxh: 11.2vh;
$eightypxh: 12.8vh;
$nintypxh: 14.4vh;
$hundredpxh: 16vh;

$tenpxw: 0.7320644216691069vw;
$twentypxw: 1.4641288433382138vw;
$thirtypxw: 2.1961932650073206vw;
$fortypxw: 2.9282576866764276vw;
$fiftypxw: 3.6603221083455346vw;
$sixtypxw: 4.392386530014641vw;
$seventypxw: 5.124450951683748vw;
$eightypxw: 5.856515373352855vw;
$nintypxw: 5.856515373352855vw;
$hundredpxw: 7.320644216691069vw;





$hundredpxw: 7.32vw;
