@font-face {
    font-family: 'Intro Blackcaps';
    src: url("./fonts/Intro-Black-Caps.ttf")format("truetype");
}
@font-face {
    font-family: 'Alumni Sans';
    src: url("./fonts/AlumniSans-VariableFont_wght.ttf")format("truetype");
}

$font-title: "Intro Blackcaps";
$font-text: "Alumni Sans";
$color-white: #ffffff;
$color-yellow: #F2A11B;
$color-wine: #aa332f;
$color-brown: #513326;
$color-footer: #F9D08D


