@import '../mixins';
@import '../variables';

.adress{
    display: flex;
    flex-direction: column;
    width: 20.3125rem;
    @media screen {
        @media(max-width:375px){
            display: none;
        }}
    a {
        font-family: $font-title;
        text-align: center;
        color: $color-wine;
        cursor: pointer;
        &:hover{
            color:$color-yellow
        }
    }
    p{
        font-family: $font-title;
        text-align: center;
        color: $color-wine;
    }
}