@import '../variables';
@import '../mixins';


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen {
        @media(max-width:375px){
           flex-direction: column;
           margin: 0;
           justify-content: flex-start;
           align-items: normal;
           height: auto;
        }}
    label{
        font-family: $font-text;
        color: $color-wine;
        font-weight: 600;
        font-size: 1.25rem;
        word-spacing: 0.1875rem;
    }
    input{
        border: .0625rem $color-wine solid;
        border-radius: .1563rem;
        margin-top: .3125rem;
        position: relative;
        width: 31.25rem;
        height: 2rem;
        font-family: $font-text;
        color: $color-wine;
        font-weight: 600;
        font-size: 1.25rem;
        @media screen {
            @media(max-width:375px){
               width: 100%;
            }}
        &:focus{
            outline: none
        }
        &:hover{
          border-color: $color-yellow;
        }
    }
    textarea{
        border: .0625rem $color-wine solid;
        border-radius: .1563rem;
        width: 31.25rem;
        height: 7.12rem;
        font-family: $font-text;
        color: $color-wine;
        font-weight: 600;
        font-size: 1.25rem;
        @media screen {
            @media(max-width:375px){
               width: 100%;
            }}
        &:focus{
            outline: none;
        }
        &:hover{
            border-color: $color-yellow;
        }
    }
}
.button-conteiner{
    display: flex;
    justify-content: center;
    align-items: normal;
    .button{
        width: 7.8125rem;
        height: 1.875rem;
        background-color: #fff;
        border: .125rem solid $color-wine;
        border-radius: .1563rem;
        color: $color-wine;
        font-family: $font-title;
        cursor: pointer;
        &:hover{
            border-color: $color-yellow;
        }
    }
}