@import '../mixins';
@import '../variables';

.home-conteiner {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 0.3125rem 1.25rem;
    padding: 0.3125rem 0.9375rem;
    @media screen {
        @media(max-width:375px){
            flex-direction: column;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            height: auto;
        }}
    .home-image{
        margin: 1rem;
        flex: 1;
        height: 31.25rem;
        width: 21.875rem;
        @media screen {
            @media(max-width:375px){
                order: 1;
                margin: $tenpxw;
                padding: $tenpxw;
            }}
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 0.5rem;
        }
    }
    .home-texto {
        flex: 1;
        height: 36.603221083455345vw;
        width: 56vh;
        margin: 1rem;
        @media screen {
            @media(max-width:375px){
                width: 80%;
            }}
        h1{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $font-title;
            color: $color-wine;
            align-items: center;
            font-size: 2.5rem;
            @media screen {
                @media(max-width:375px){
                    font-size: 1.5rem;
                }}
        }
        p{
            margin-top: 2rem;
            color: $color-wine;
            font-family: $font-text;
            word-spacing: 0.1875rem;
            font-size: 1.5rem;
            font-weight: 500;
            @media screen {
                @media(max-width:375px){
                    font-size: 1rem;
                    font-weight: 700;
                }}
        }
        .home-link{
            display: flex;
            margin-top: 2rem;
            color: $color-wine;
            font-family: $font-text;
            word-spacing: 0.1875rem;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                color: $color-yellow;
            }
            @media screen {
                @media(max-width:375px){
                    margin: 8vh;
                }}
        }
    }

  }