@import '../variables';
@import '../mixins';

figure{
    display: flex;
    width: $hundredpxw;
    height: $hundredpxh;
    margin-left: 1.875rem;
    align-items: center;
    justify-content: center;
    @media screen {
        @media(max-width:375px){
            width: $hundredpxw;
            height: $hundredpxh;
            margin-left: 0;
        }}
    img{
        width: $hundredpxw;
        height: $hundredpxh;
        cursor: pointer;
        @media screen {
            @media(max-width:375px){
                width: 20vw;
                height: 12vh;
                margin-left: 3rem;
                
            }}
    }
}