@import '../mixins';
@import '../variables';

.working-time{
    display: flex;
    flex-direction: column;
    @media screen {
        @media(max-width:375px){
            text-align: center;
        }}
    h1{
        font-family: $font-title;
        font-size: 1.2rem;
        color: $color-wine;
        @media screen {
            @media(max-width:375px){
                font-size: 0.8rem;
            }}
    }
    ul{
        list-style: none;
        li{
            text-align: center;
            color: $color-wine;
            font-family: $font-title;
            font-weight: 500;
            font-size: 0.8rem;
            @media screen {
                @media(max-width:375px){
                    font-size: 0.5rem;
                }}
        }
    }
}